//////// Logo Width

// $logo-max-height: $base-line-height; // default $base-line-height, change to a pixel value (eg: 50px) for fine control

//////// Colours

$color-bg-site: #FFFFFF;
$color-primary: #8DC114;
$color-primary-1: #0E782D;
$color-hvr-primary:#D0FF64;
$color-primary-2: #c0c75d;
// $color-primary-3: #4A90E2;
$color-white: #FFFFFF;
$color-black: #000000;
$color-muted: #9da2a8;
$color-dark: #616368;
$color-dark-2: #666666;
$color-orange: #f07730;
$color-yellow: #f9b101;
$color-bg-secondary: #F1F5F8;
$color-bg-secondary-1: #f0f2f6;
$color-on-dark: #FFFFFF;
$color-gray: #979baa;
$color-lime: #8fce0b;

$has-primary-1: true;
$has-primary-2: true;

$color-error: #E23636;
$color-success: #4EBF56;

//////// Typography

$base-font-size: percentage(14/16); // change first value to pixel font size
$base-font-size-px: 14px; // the first value from above;
$base-font-size-mobile: percentage(13/16); // change first value to pixel font size
$base-font-size-mobile-px: 13px; // the first value from above;

$base-line-height: 1.85714285714286em;

$body-font: 'Open Sans';
$heading-font: 'Open Sans';
$button-font: 'Open Sans';
$nav-item-font: 'Open Sans';

// $h1-size: 3.14285714285714em;
// $h2-size: 2.35714285714286em;
// $h3-size: 1.78571428571429em;
// $h4-size: 1.35714285714286em;
// $h5-size: 1em;
 $h6-size: 0.60714285714286em;

$ligatures-active: true;

$h1-line-height: 1.31818181818182em;
$h2-line-height: 1.36363636363636em;
$h3-line-height: 1.5em;
$h4-line-height: 1.368421052631579em;
$h5-line-height: $base-line-height;
$h6-line-height: 2.16666666666667em;

$p-lead-size: 1.35714285714286em;
$p-lead-line-height: 1.68421052631579em;

// $blockquote-size: $h3-size;
// $blockquote-line-height: $h3-line-height;

$fine-print-size: 0.85714285714286em; 

$ul-line-height: $base-line-height; 

$color-body: #666666;
$color-heading: $color-dark;

$heading-uppercase: false;
$heading-weight: 300;

$body-font-weight: 400;
$strong-font-weight: 600;

//////// Standard Space

// $standard-space-n: 4 * $base-line-height;
// $standard-space-s: 4 * $base-line-height;
// $standard-space-mobile: 3 * $base-line-height;

//////// Boxed Layouts

// $boxed-layout-width: 1280px;

//////// Buttons

$buttons-uppercase: false;

$button-radius: 5px;
$border-width: 1px;
// $button-text-size: $h6-size;
$button-font-weight: 700;
// $button-spacing: $base-line-height;

//////// Icon

// $icon-sm-size: $h2-size;
// $icon-md-size: $h1-size;
$icon-lg-size: 5.57142857142857em;

//////// Breadcrumbs

$breadcrumbs-uppercase: false;
$breadcrumb-item-padding: $base-line-height/4; // space between breadcrumbs
$breadcrumb-font-size: 1em;

//////// Tabs

$tab-title-padding: 0 $base-line-height; // space between tabs

//////// Boxes

$box-padding: $base-line-height;
$box-border: 1px solid #ECECEC;
$box-shadow-level: 1; // value from 1 - 5, shallow - deep

//////// Image Grid Settings

$default-gap-padding: $base-line-height/4;

//////// Sliders

// $slider-paging-alignment: center;

// $slider-paging-height: 8px;
// $slider-paging-width: 8px;
// $slider-paging-radius: 50%;
// $slider-paging-bg: $color-dark;
// $slider-paging-bg-active: #fff;
// $slider-paging-border: none;
// $slider-paging-spacing: $base-line-height/4; // space between each paging button

// $slider-arrow-font: 'stack-interface';
// $slider-arrow-right: "\e80c";
// $slider-arrow-left: "\e80b";
// $slider-arrow-size: 1em;

//////// Modals

$default-modal-padding: 0;

//////// Notifications

$default-notification-padding: 0;

$xs : '<=767px';
$sm : '>=768px','<=991px';
$md : '>=992px','<=1199px';
$lg : '>=1200px';
