.cn-lemon {
    width: 100%;
}

.paginator {
    margin-left: 50%;
    transform: translateX(-50%);
}

.page-item.active .page-link {
    background-color: #73ac00;
    color: #fff !important;
}

.page-item .page-link {
    color: #73ac00;
    border-color: #73ac00 !important;
}

.category-slider {
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, 0.226);
    padding: 10px 0;
    border-radius: 3px;
}

.category-slider .slick-arrow {
    display: flex;
    align-items: center;
}

.category-slider .slide a {
    color: inherit;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

/*
.slick-slide img{
    display: block;
}

.slick-slide.slick-loading img{
    display: none;
}

.slick-slide.dragging img{
    pointer-events: none;
} */

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.owl-carousel.category-carousel .category-slider {
    fill: #616368;
    width: 50px;
    height: 70px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    
}

@media(max-width: 991px){
    .slick-category-name{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.category-content.slick-initialized{
    display: flex !important;
}