.navbar .navbar-brand .logo {
  max-width: 11em !important; }

.card .color-primary {
  color: #8DC114; }

.card .listing-indicators {
  display: flex;
  margin-bottom: 16px; }
  .card .listing-indicators .listing-type, .card .listing-indicators .listing-date {
    display: flex;
    align-items: flex-start;
    margin-right: 1em; }
    .card .listing-indicators .listing-type span, .card .listing-indicators .listing-date span {
      margin-left: 5px;
      font-size: 0.8em;
      line-height: 1.3; }
    .card .listing-indicators .listing-type i, .card .listing-indicators .listing-date i {
      color: #c0c75d;
      font-size: 0.8em; }
