/*! -- Stack Utilties -- */
.hidden {
  display: none !important;
  visibility: hidden !important; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; }
  .visible-xs-block {
    display: block !important; }
  .visible-xs-inline {
    display: inline !important; }
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; }
  .visible-sm-block {
    display: block !important; }
  .visible-sm-inline {
    display: inline !important; }
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; }
  .visible-md-block {
    display: block !important; }
  .visible-md-inline {
    display: inline !important; }
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; }
  .visible-lg-block {
    display: block !important; }
  .visible-lg-inline {
    display: inline !important; }
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

@media (min-width: 768px) and (max-width: 991px) {
  .text-left-sm {
    text-align: left !important; }
  .text-right-sm {
    text-align: right !important; }
  .text-center-sm {
    text-align: center !important; } }

@media (max-width: 767px) {
  .text-left-xs {
    text-align: left !important; }
  .text-right-xs {
    text-align: right !important; }
  .text-center-xs {
    text-align: center !important; } }

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #616368;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #616368;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0; }

.h6-size {
  font-size: 0.60714em; }

.font-small {
  font-size: 12px; }

p {
  font-size: 13px;
  color: #979baa; }

.nav-link {
  color: #979baa; }

ul.bullets {
  list-style: outside; }

ul.arrow {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0; }
  ul.arrow li {
    font-size: 13px;
    list-style: none;
    position: relative;
    padding: 0 0 0 15px; }
    ul.arrow li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      height: 6px;
      width: 6px;
      border: 1px solid #616368;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg); }

ol {
  list-style-type: upper-roman;
  list-style-position: inside; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
  color: #0E782D; }

.breadcrumb {
  background: transparent;
  padding: 0.75rem 0rem;
  color: #979baa;
  font-size: 12px; }
  .breadcrumb-item.active {
    color: #979baa; }

/*! Typography -- Helpers */
.type-fade {
  opacity: .5; }

.type-normal {
  font-weight: 400; }

.type-uppercase {
  text-transform: uppercase; }

.type-bold {
  font-weight: 600; }

.type-medium {
  font-weight: 700; }

.type-italic {
  font-style: italic; }

.type-strikethrough {
  text-decoration: line-through;
  opacity: .5; }

.type-underline {
  text-decoration: underline; }

dl {
  font-size: 12.5px; }

section, footer {
  padding-top: 3em;
  padding-bottom: 3em; }

.main-container {
  position: relative; }

.height-30 {
  height: 30vh; }

.height-40 {
  height: 40vh; }

.height-50 {
  height: 50vh; }

.height-100 {
  height: 100vh; }

div[class*='col-'] {
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 767px) {
    div[class*='col-'] {
      padding-left: 15px;
      padding-right: 15px; } }

.pos-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.next-line {
  display: block;
  clear: both; }
  @media (max-width: 767px) {
    .next-line {
      display: initial;
      clear: none; } }

@media (min-width: 1200px) {
  .mb-lg-6 {
    margin-bottom: 6rem !important; }
  .mb-lg-7 {
    margin-bottom: 7rem !important; } }

@media (max-width: 767px) {
  .mb-6 {
    margin-bottom: 6rem !important; }
  .mb-7 {
    margin-bottom: 6rem !important; } }

.pl-lg-10 {
  padding-left: 10px; }

.pr-lg-10 {
  padding-right: 10px; }

.p0 {
  padding: 0px !important; }

.p20 {
  padding: 20px !important; }

.plr-40 {
  padding: 20px 40px; }

.p40 {
  padding: 40px !important; }

@media (max-width: 767px) {
  .pl-xs-0 {
    padding-left: 0 !important; }
  .pr-xs-0 {
    padding-right: 0 !important; } }

.border-tl-radius {
  border-top-left-radius: 5px; }

.border-bl-radius {
  border-bottom-left-radius: 5px; }

.border-tr-radius {
  border-top-right-radius: 5px; }

.border-br-radius {
  border-bottom-right-radius: 5px; }

.border-radius-5 {
  border-radius: 5px; }

.color-black {
  color: #000000; }

.color-dark {
  color: #616368; }

.color-primary {
  color: #8DC114; }
  .color-primary-1 {
    color: #0E782D; }

.color-orange {
  color: #f07730 !important; }

.color-gray {
  color: #979baa; }

.color-white {
  color: white !important; }

.color-lime {
  color: #8fce0b !important; }

.color-yellow {
  color: #f9b101; }

.bg-primary {
  background: #8DC114 !important; }
  .bg-primary * {
    color: #FFFFFF; }

.bg-primary-1 {
  background: #0E782D !important; }
  .bg-primary-1 * {
    color: #FFFFFF; }

.bg-primary-2 {
  background: #c0c75d !important; }
  .bg-primary-2 * {
    color: #FFFFFF; }

.bg-primary-3 {
  background: #74942e !important; }
  .bg-primary-3 * {
    color: #FFFFFF; }

.bg-secondary {
  background: #F1F5F8 !important; }

.bg-secondary-1 {
  background: #f0f2f6 !important; }

.bg-orange {
  background: #f07730; }

.bg-dark * {
  color: #FFFFFF !important; }

.bg-maroon {
  background: #771621; }

a {
  color: #8DC114; }
  a:hover {
    color: #0E782D; }

.nav-container {
  position: sticky;
  height: 100%;
  top: 0;
  z-index: 99; }

nav.navbar {
  position: sticky;
  height: 100%;
  top: 0;
  z-index: 99; }
  nav.navbar .logo {
    max-width: 7em;
    max-height: 4em; }
  nav.navbar .nav-item a {
    font-weight: 400;
    color: #575a5e; }
  nav.navbar .navbar-brand .logo-cn {
    max-width: 7em !important; }
    .navbar .navbar-brand .logo {
    max-width: 11em!important;
}

#top-menu, #top-menu-inner {
  background: #e6e9ec !important; }
  #top-menu a, #top-menu span, #top-menu-inner a, #top-menu-inner span {
    font-size: 0.7em;
    font-weight: 700;
    color: #616368; }
  #top-menu ul .nav-item label, #top-menu-inner ul .nav-item label {
    position: relative;
    display: inline-block;
    line-height: 2.125rem;
    height: 2.125rem;
    min-width: 3.125rem;
    padding: 0 0.825rem;
    text-align: center;
    margin-bottom: 0;
    font-size: 0.7em;
    font-weight: 700; }
  #top-menu ul .nav-item a, #top-menu-inner ul .nav-item a {
    position: relative;
    display: inline-block;
    line-height: 2.125rem;
    height: 2.125rem;
    min-width: 3.125rem;
    padding: 0 0.825rem;
    text-align: center; }
    @media (max-width: 767px) {
      #top-menu ul .nav-item a, #top-menu-inner ul .nav-item a {
        min-width: 100%;
        padding: 0 0.5rem; } }
  #top-menu ul .nav-item .item, #top-menu-inner ul .nav-item .item {
    font-size: 1em; }
    @media (max-width: 767px) {
      #top-menu ul .nav-item .item, #top-menu-inner ul .nav-item .item {
        display: none; } }
  #top-menu ul .nav-item:hover a, #top-menu-inner ul .nav-item:hover a {
    background: #FFFFFF; }
  #top-menu ul .nav-item i, #top-menu-inner ul .nav-item i {
    color: #616368;
    margin-right: 0.5em;
    font-size: 1.1em; }
    @media (max-width: 767px) {
      #top-menu ul .nav-item i, #top-menu-inner ul .nav-item i {
        margin-right: 0; } }
  #top-menu ul .nav-item.active a, #top-menu-inner ul .nav-item.active a {
    background: #FFFFFF; }
    #top-menu ul .nav-item.active a i, #top-menu-inner ul .nav-item.active a i {
      color: #8DC114; }
  #top-menu.navbar, #top-menu-inner.navbar {
    padding: 0;
    z-index: 100; }
  #top-menu .navbar-nav, #top-menu-inner .navbar-nav {
    flex-direction: row; }

#top-menu-inner .navbar-nav .nav-item a {
  text-align: left; }

#top-menu-inner .navbar-nav .dropdown-menu {
  position: absolute;
  z-index: 99;
  border: 0; }
  #top-menu-inner .navbar-nav .dropdown-menu .dropdown-item {
    display: flex;
    font-weight: 400;
    font-size: 0.8em;
    align-items: center;
    height: 1.8rem; }
    #top-menu-inner .navbar-nav .dropdown-menu .dropdown-item:hover {
      background: rgba(141, 193, 24, 0.12); }

#main-menu.sticky-top {
  background: #fff; }

#main-menu.navbar .nav-item a {
  font-size: 0.97em;
  font-weight: 400;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  margin-right: 0.7em; }
  @media (max-width: 767px) {
    #main-menu.navbar .nav-item a {
      padding: 1em 0 1em;
      border-bottom: 1px solid #9da2a8; } }
  #main-menu.navbar .nav-item a:hover {
    background: rgba(141, 193, 24, 0.12); }

#main-menu.navbar .nav-item .btn {
  color: #FFFFFF;
  min-width: 100%; }
  #main-menu.navbar .nav-item .btn:hover {
    border-color: #0E782D;
    background: #0E782D; }

#main-menu.navbar .flex-1 {
  flex: 1; }

@media (max-width: 767px) {
  #main-menu .navbar-collapse .nav-mobile-btn {
    padding: 1em;
    margin-bottom: 1rem;
    color: #FFFFFF !important; }
    #main-menu .navbar-collapse .nav-mobile-btn.bg-primary {
      background: #8DC114 !important; }
      #main-menu .navbar-collapse .nav-mobile-btn.bg-primary:hover {
        background: #0E782D !important; }
    #main-menu .navbar-collapse .nav-mobile-btn.bg-primary-1 {
      background: #0E782D !important; }
  #main-menu .navbar-collapse .navbar-nav {
    padding: 0 2em;
    margin-bottom: 2rem; }
  #main-menu .navbar-collapse .dropdown-menu {
    border: 0; }
    #main-menu .navbar-collapse .dropdown-menu .dropdown-item {
      border: 0;
      padding: 0.3em 0; } }

#main-menu .navbar-collapse .dropdown-menu {
  border: 0; }
  #main-menu .navbar-collapse .dropdown-menu .dropdown-item {
    font-size: 0.8em; }

#main-menu .search-bar {
  margin-bottom: 0 !important; }
  #main-menu .search-bar .input-group-text {
    background: #FFFFFF;
    color: #616368;
    font-size: 0.95em;
    font-weight: 600;
    border: 1px solid #9da2a8;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  #main-menu .search-bar .form-control {
    border: 1px solid #9da2a8;
    border-left: 0; }
  @media (max-width: 767px) {
    #main-menu .search-bar {
      padding-left: 2em;
      padding-right: 2em; } }
  @media (max-width: 767px) {
    #main-menu .search-bar .input-group input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; } }

.nav-tabs.browse {
  border-bottom: 0;
  margin-bottom: 2em; }
  .nav-tabs.browse li span {
    font-size: 0.9em;
    line-height: 2; }
  .nav-tabs.browse li a {
    font-size: 0.9em;
    line-height: 2;
    color: #9da2a8;
    padding: 0 1em;
    padding-bottom: 0.5em; }
    @media (max-width: 767px) {
      .nav-tabs.browse li a {
        padding: 0 0.3em; } }
    .nav-tabs.browse li a.active {
      font-weight: 700;
      color: #8DC114;
      border-bottom: 1px solid #8DC114; }
  .nav-tabs.browse li:not(:first-child) {
    margin-left: 1em; }

.navbar-absolute {
  position: absolute !important;
  width: 100%;
  height: auto;
  padding: 2em 0;
  background: transparent !important; }
  .navbar-absolute * {
    color: #FFFFFF !important; }
  .navbar-absolute .dropdown-menu a {
    color: #616368 !important; }
  @media (max-width: 767px) {
    .navbar-absolute {
      padding: 1em 0; } }
  .navbar-absolute .navbar-collapse.collapse.show,
  .navbar-absolute .navbar-collapse.collapsing {
    height: 100% !important;
    background: #000000 !important;
    top: 0;
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
    padding-top: 6em;
    animation: fadeInRight 0.8s forwards; }
    .navbar-absolute .navbar-collapse.collapse.show .navbar-nav,
    .navbar-absolute .navbar-collapse.collapsing .navbar-nav {
      position: absolute;
      width: 100%; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.imagebg {
  position: relative;
  color: #FFFFFF; }
  .imagebg .container {
    z-index: 2; }
    .imagebg .container:not(.pos-absolute) {
      position: relative; }
  .imagebg.image-dark * {
    color: #FFFFFF; }
  .imagebg.image-light * {
    color: #000000; }
  .imagebg.image-light .btn {
    color: #FFFFFF; }
    .imagebg.image-light .btn:hover {
      color: #0E782D; }
  .imagebg .cta-banner-footer {
    padding: 4em 8em;
    height: 100%; }
    @media (max-width: 767px) {
      .imagebg .cta-banner-footer {
        padding: 4em 1em; } }
    .imagebg .cta-banner-footer .title {
      font-size: 2.5em; }
    .imagebg .cta-banner-footer .cta-stats {
      display: flex;
      align-items: center; }
      .imagebg .cta-banner-footer .cta-stats p {
        line-height: 1; }
      .imagebg .cta-banner-footer .cta-stats img {
        height: 30px;
        margin-right: 1em; }
      .imagebg .cta-banner-footer .cta-stats small {
        font-size: 0.7em; }
    .imagebg .cta-banner-footer-2 {
      padding: 4em 5em;
      height: 100%; }
      @media (max-width: 767px) {
        .imagebg .cta-banner-footer-2 {
          padding: 4em 1em; } }
      .imagebg .cta-banner-footer-2 .title {
        font-size: 2.5em; }

.background-image-holder {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
  transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  opacity: 1;
  background: #616368; }
  .background-image-holder:not([class*='col-']) {
    width: 100%; }
  .background-image-holder.background--bottom {
    background-position: 50% 100% !important; }
  .background-image-holder.background--top {
    background-position: 50% 0% !important; }

.image-inherit {
  width: inherit; }

.image-round {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #bfc3c9; }

[data-overlay="0"]:before {
  opacity: 0; }

[data-overlay="1"]:before {
  opacity: 0.1; }

[data-overlay="2"]:before {
  opacity: 0.2; }

[data-overlay="3"]:before {
  opacity: 0.3; }

[data-overlay="4"]:before {
  opacity: 0.4; }

[data-overlay="5"]:before {
  opacity: 0.5; }

[data-overlay="6"]:before {
  opacity: 0.6; }

[data-overlay="7"]:before {
  opacity: 0.7; }

[data-overlay="8"]:before {
  opacity: 0.8; }

[data-overlay="9"]:before {
  opacity: 0.9; }

[data-overlay="10"]:before {
  opacity: 1; }

[data-overlay] {
  position: relative; }
  [data-overlay]:before {
    position: absolute;
    content: '';
    background: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  [data-overlay] *:not(.container):not(.background-image-holder) {
    z-index: 2; }
  [data-overlay].image-light:before {
    background: #fff; }
  [data-overlay].bg--primary:before {
    background: #8DC114; }

.image-sm {
  max-height: 100px; }

.btn {
  min-width: 200px;
  font-size: 15px;
  font-weight: 600; }
  .btn:hover {
    font-weight: 600; }
  .btn-primary {
    background: #8DC114;
    border-color: #8DC114; }
    .btn-primary:hover {
      background: #D0FF64;
      border-color: #D0FF64;
      color: #0E782D; }
  .btn-primary-1 {
    background: #0E782D;
    border-color: #0E782D;
    color: #FFFFFF; }
    .btn-primary-1:hover {
      background: #D0FF64;
      border-color: #D0FF64;
      color: #0E782D; }
  .btn-orange {
    background: #f07730;
    border-color: #f07730; }
    .btn-orange:hover {
      background: #D0FF64;
      border-color: #D0FF64;
      color: #0E782D; }
  .btn-light {
    background: #FFFFFF;
    border: 1px solid #bfc3c9;
    color: #979baa;
    font-size: 12px; }
    .btn-light:hover {
      background: #bfc3c9; }
  .btn-red {
    color: #E23636 !important; }
  .btn-callout {
    background: #FFFFFF;
    border: 1px solid #bfc3c9;
    color: #979baa;
    font-size: 14px;
    width: auto; }
    .btn-callout:before {
      content: "";
      width: 0px;
      height: 0px;
      border: 0.8em solid transparent;
      position: absolute; }
  .btn-cta {
    min-width: auto !important;
    font-size: 11px; }
  .btn-open {
    font-size: 11px;
    background-color: #8fce0b;
    color: white;
    min-width: -webkit-fill-available; }
  .btn-gray {
    background: #979baa;
    border: 1px solid #bfc3c9;
    color: #FFFFFF;
    font-size: 10px;
    padding: 6px 30px; }
    .btn-gray:hover {
      background: #bfc3c9; }
  .btn-black {
    background: #000000;
    border: 1px solid #000000;
    color: #FFFFFF; }
    .btn-black:hover {
      background: #FFFFFF;
      color: #000000; }

.callout {
  background: #FFFFFF;
  border: 1px solid #bfc3c9;
  color: #979baa;
  font-size: 13px;
  width: auto;
  padding: 7px 15px;
  border-radius: .25rem;
  position: relative;
  font-weight: 600; }
  .callout:hover {
    color: #616368; }
  .callout-active {
    background: #8fce0b;
    color: #dcefb4;
    border-color: #8fce0b; }
    .callout-active:before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: #8fce0b;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      transform: rotate(45deg);
      margin-top: -10px; }
    .callout-active:hover {
      color: #0E782D; }

.imagebg .dropdown-toggle {
  min-height: 100%;
  padding: .375rem .75rem;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: #FFFFFF;
  border: 1px solid #bfc3c9;
  color: #979baa; }

input, textarea, select {
  border-radius: 5px;
  font-size: 0.9em; }

.form-control {
  height: 40px;
  font-size: 0.9em;
  border: 1px solid #bfc3c9; }
  .form-control:focus {
    color: #616368;
    border-color: #bfc3c9;
    box-shadow: none; }

.input-field {
  padding: 0px 10px;
  height: 35px; }

.no-border-select {
  border: 0px;
  background-color: transparent;
  color: #616368;
  font-size: 12px; }
  .no-border-select:focus {
    outline: 0; }

.search-bar .input-group-text {
  background: #FFFFFF;
  color: #616368;
  font-size: 0.95em;
  font-weight: 600;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.search-bar input {
  border: 0;
  border-radius: 3px; }
  .search-bar input::placeholder {
    color: #9da2a8; }

.search-bar button {
  min-width: 100%;
  border-radius: 3px; }
  @media (max-width: 767px) {
    .search-bar button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; } }

.form-check {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 13px;
  color: #979baa;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 12px;
    width: 12px;
    left: 0;
    z-index: 1; }
    .form-check input:checked + label:before {
      opacity: 1 !important; }
  .form-check label:after {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    left: 17px;
    top: 0;
    margin-left: -18px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #979baa; }
  .form-check label:before {
    position: absolute;
    content: "";
    margin-left: -18px;
    border-top: none;
    border-right: none;
    background: 0 0;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all .15s ease-in-out;
    z-index: 1;
    width: 13px;
    height: 13px;
    border: none;
    top: 3px;
    left: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #8fce0b;
    transform: rotate(0deg); }

.filter-collapse {
  border: 0; }
  .filter-collapse:focus {
    outline: 0; }
  .filter-collapse[aria-expanded="true"]:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
    margin-top: -10px; }

#filter-search {
  margin-top: 0.4em; }

.owl-carousel.category-carousel .icon {
  fill: #616368;
  width: 50px;
  height: 50px; }

.owl-carousel.category-carousel p {
  color: #616368; }

.owl-carousel.category-carousel a:hover p {
  color: #8DC114; }

.card {
  border-radius: 5px; }
  .card.home-card-ctas {
    border: 0;
    flex: 1 0 auto; }
    .card.home-card-ctas .card-body {
      padding: 2rem; }
    .card.home-card-ctas .card-title {
      font-weight: 600; }
    .card.home-card-ctas p {
      font-size: 12px; }
    @media (max-width: 767px) {
      .card.home-card-ctas {
        position: relative;
        height: 100%; }
        .card.home-card-ctas .background-image-holder {
          height: 300px; } }
    .card.home-card-ctas .card-img-overlay {
      position: relative; }
    @media (max-width: 767px) {
      .card.home-card-ctas .imagebg {
        height: 300px !important; } }
    @media (max-width: 767px) {
      .card.home-card-ctas .border-bl-radius {
        border-bottom-left-radius: 0;
        border-top-right-radius: 3px; } }
    @media (max-width: 767px) {
      .card.home-card-ctas .border-bl-radius {
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px; } }
    @media (max-width: 767px) {
      .card.home-card-ctas .border-tr-radius {
        border-top-right-radius: 0; } }
    @media (max-width: 767px) {
      .card.home-card-ctas .border-br-radius {
        border-bottom-left-radius: 5px; } }
  .card .meta-posted {
    margin-bottom: 8px; }
    .card .meta-posted small {
      font-size: 70%; }
    .card .meta-posted .meta-date {
      color: #9da2a8; }
    .card .meta-posted .meta-cat {
      color: #8DC114; }
    .card .meta-posted .meta-muted {
      color: #9da2a8; }
  .card.featured {
    margin-bottom: 10px; }
    .card.featured .card-body {
      border-top: 1.4px solid #dcdcdc; }
    .card.featured .card-title {
      font-size: 1.04em;
      font-weight: 700; }
  .card .listing-indicators {
    display: flex;
    margin-bottom: 16px; }
    .card .listing-indicators .listing-rate, .card .listing-indicators .listing-like,
    .card .listing-indicators .listing-recommend, .card .listing-indicators .listing-connected,
    .card .listing-indicators .listing-company, .card .listing-indicators .listing-date {
      display: flex;
      align-items: center;
      margin-right: 1em; }
      .card .listing-indicators .listing-rate span, .card .listing-indicators .listing-like span,
      .card .listing-indicators .listing-recommend span, .card .listing-indicators .listing-connected span,
      .card .listing-indicators .listing-company span, .card .listing-indicators .listing-date span {
        margin-left: 5px;
        font-size: 0.95em;
        line-height: 0; }
      .card .listing-indicators .listing-rate i, .card .listing-indicators .listing-like i,
      .card .listing-indicators .listing-recommend i, .card .listing-indicators .listing-connected i,
      .card .listing-indicators .listing-company i, .card .listing-indicators .listing-date i {
        color: #c0c75d;
        font-size: 0.8em; }
    .card .listing-indicators-jobs {
      display: flex;
      margin-bottom: 10px; }
      .card .listing-indicators-jobs .listing-company, .card .listing-indicators-jobs .listing-date {
        display: flex;
        align-items: center;
        margin-right: 1em; }
        .card .listing-indicators-jobs .listing-company span, .card .listing-indicators-jobs .listing-date span {
          margin-left: 8px;
          font-size: 0.85em;
          line-height: 1.2; }
        .card .listing-indicators-jobs .listing-company i, .card .listing-indicators-jobs .listing-date i {
          color: #c0c75d;
          font-size: 0.8em; }
  .card .listing-address {
    display: flex;
    margin-right: 1em; }
    .card .listing-address span {
      margin-left: 6px;
      font-size: 0.8em; }
    .card .listing-address i {
      color: #c0c75d;
      font-size: 0.85em;
      line-height: inherit; }
  .card.bordered {
    margin-bottom: 10px; }
    .card.bordered .card-body {
      border: 1px solid #d7dee3;
      padding: 25px;
      border-radius: .25rem; }
  .card.hours {
    border: 1px solid #d7dee3 !important; }
    .card.hours .card-header {
      background: #8fce0b;
      color: #FFFFFF; }
  .card.bordered-1 {
    border: 1px solid #d7dee3 !important; }
  .card.results-card-horizontal .badge {
    font-size: 10px;
    padding: .48em 1.5em; }
  .card.results-card-horizontal .price {
    font-size: 16px; }
  .card .price {
    color: #8DC114;
    font-size: 0.9em; }

a .card * {
  color: #616368; }

a .card.featured .card-body {
  color: #616368; }

a .card.featured .card-title {
  color: #616368; }

a .card.featured:hover {
  box-shadow: 0 0 20px rgba(130, 130, 130, 0.1); }

.bg-secondary .card {
  border: 0; }

.home-news .card.card-post .card-title {
  font-size: 13.5px;
  font-weight: 600;
  line-height: 1.4; }

.home-news .card.card-post .card-body {
  padding: 0.6rem 1.05rem; }

.notify-badge {
  position: absolute;
  right: 10px;
  top: 0px;
  background: #8DC114;
  text-align: center;
  color: white !important;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase; }


/* Review and Rating Modal */
#ratingModal .top-strip{
  border-bottom: 2px solid rgba(0, 0, 0, 0.186);
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.close-review-modal{
  width: 100%;
  text-align: right;
  margin: 10px 0;
}

.close-review-modal i{
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.reviewHeading{
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 600;
  font-family: sans-serif;
  margin: 10px 0;
  text-align: center;
  color: #444;
}

#reviewLabel{
  font-size: 18px;
  font-family: sans-serif;
}

#reviewText{
  font-size: 15px;
  max-height: 15vh;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #73ac00;
}

#reviewText:focus{
  border: 1px solid #507700 !important;
}

#reviewSubmit{
  width: 100%;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 10px 0;
  background-color: #507700;
  transition: 200ms;
  cursor: pointer;
}

#reviewSubmit:hover{
  background-color: #73ac00;
}

/* Rating Widgets */
.rating-widget .success-box {
  margin:10px;
  padding:10px 10px;
  border:1px solid #eee;
  background:#f9f9f9;
  text-align: center;
}

.rating-widget .success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.rating-widget .success-box i{
  margin: 0 5px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  background-color: #73ac00;
  border-radius: 50%;
}

.rating-widget .success-box > div {
  line-height: 30px;
  vertical-align:top;
  display:inline-block;
  font-weight: bold;
  color:#444444;
}


/* Rating Star Widgets Style */
.rating-widget .rating-stars ul {
  list-style-type:none;
  margin: 10px;
  padding:0;
}
.rating-widget .rating-stars ul > li.star {
  display:inline-block;

}

.rating-widget .rating-stars ul > li.star > i.fa {
  cursor: pointer;
  font-size:2em;
  color:#ccc;
}

.rating-widget .rating-stars ul > li.star.hover > i.fa {
  color:#8bcf02;
}

.rating-widget .rating-stars ul > li.star.selected > i.fa {
  color:#507700;
}


.review-card {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.review-card a {
  color: inherit;
}

.review-card .meta {
  position: relative;
  z-index: 0;
  height: 180px;
}
.review-card .photo {
  height:180px;
  width:180px;
  margin:0;
}


.review-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.review-card .description h1, .review-card .description h2 {
      font-family: sans-serif;
}
.review-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.review-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}


.review-card p:first-of-type {
  margin-top: 1.25rem;
}
.review-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #93d70c;
  width: 35px;
  margin-top:-1rem;
  border-radius: 3px;
}

@media (min-width: 640px) {
  .review-card {
    flex-direction: row;
    max-width: 700px;
  }
  .review-card .meta {
    flex-basis: 0%;
    height: 200px;
  }
  .review-card .description {
    flex-basis: 95%;
  }
  .review-card .description:before {
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .review-card.alt {
    flex-direction: row-reverse;
  }

  .review-card.alt .details {
    padding-left: 25px;
  }
}

/* Comments */
.comment .card {
  border: none;
  background-color: #00000009;
  /* box-shadow: 5px 6px 6px 2px #e9ecef; */
  border-radius: 4px;
  width: 100%;
  margin: 5px 0;
}

.comment .dots {
  height: 4px;
  width: 4px;
  margin-bottom: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block
}

.comment .badge {
  padding: 7px;
  padding-right: 9px;
  padding-left: 16px;
  box-shadow: 5px 6px 6px 2px #e9ecef
}

.comment .user-img {
  margin-top: 4px
}

.comment .check-icon {
  font-size: 17px;
  color: #c3bfbf;
  top: 1px;
  position: relative;
  margin-left: 3px
}

.comment .commenter{
  color: #73ac00 !important;
}

.comment .form-check-input {
  margin-top: 6px;
  margin-left: -24px !important;
  cursor: pointer
}

.comment .form-check-input:focus {
  box-shadow: none
}

.comment .icons i {
  margin-left: 8px
}

.comment .reply {
  margin-left: 12px
}

.comment .reply small {
  color: #8c8c8c;
  font-weight: 600;
}

.comment .reply small:hover {
  color: green;
  cursor: pointer
}

.comment .view-replies{
  font-size: 12px;
  cursor: pointer;
}

.comment .comment-reply{
  border-left: 2px solid #00000023;
  padding-top: 10px;
  margin-top: 10px;
}

.comment .reply-add, .comment-add {
  width: 50vw;
}

@media(max-width: 691px){
  .comment .reply-add, .comment-add{
    width: 100%;
  }
}

.comment .reply-add form, .comment-add form{
  position: relative;
  width: 100%;
}

.comment .reply-add form input, .comment-add form input{
  outline: none;
  border: none;
  border-bottom: 2px solid #0000007e;
  background-color: #00000009;
  border-radius: 0;
  height: 40px !important;
  padding: 0 10px;
  width: 100%;
  font-size: 13px;
  height: 20px;
}

.comment-add form input{
  border: 3px solid #00000063;
}

.comment-add form input:focus{
  border: 3px solid #000000b6;
}

.comment .reply-add form button, .comment-add form button{
  width: 20px !important;
  font-size: 12px;
  border-radius: 0;
}

.listing-card-img{
  overflow: hidden;
  position: relative;
  padding: 10px;
  min-height: 250px;
}

.pagination{
  max-width: 100%;
  position: relative;
}

@media(max-width: 691px){
  .pagination{
    overflow-x: scroll;
    display: flex;
    justify-content: center;
  }
}


/* Footer */

footer .logo {
  max-height: 4em;
  margin-bottom: 3em; }
  @media (max-width: 767px) {
    footer .logo {
      max-height: 3em;
      margin-bottom: 1em; } }

footer ul {
  list-style: none; }
  @media (max-width: 767px) {
    footer ul {
      padding-left: 0 !important; } }
  footer ul li {
    margin-bottom: 0.5em; }
    footer ul li a {
      font-size: 0.9em;
      color: #616368; }
      footer ul li a:hover {
        color: #8DC114; }
  footer ul.list-horizontal.social li {
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 767px) {
      footer ul.list-horizontal.social li {
        justify-content: center; } }
    footer ul.list-horizontal.social li a {
      display: block;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 29px;
      font-size: 15px;
      color: #666666;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 0.4em;
      border: 1px solid #666666; }
      footer ul.list-horizontal.social li a:hover {
        background: #8DC114;
        color: #FFFFFF;
        border-color: #8DC114; }

@media (max-width: 767px) {
  footer small {
    font-size: 75%; } }

/* Footer pages */
.pages-section{
  padding: 30px;
  border-left: 5px solid #93d70c;
  background-color: #fff;
  border-radius: 5px;
}

.pages-section .page-title{
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}

.pages-section .page-subtitle{
  font-size: 18px;
  margin: 0 0 30px 0;
}

.pages-section .page-body{
  font-size: 15px;
  text-align: justify;
  margin: 10px 0;
}