.home .container {
  top: 55%; }
  @media (max-width: 767px) {
    .home .container {
      top: 25%;
      transform: none;
      -webkit-transform: none;
      margin-top: 10rem; } }

@media (max-width: 767px) {
  .home.height-100 {
    height: 100%; } }

.home .img-logo {
  max-width: 180px; }

.home .search-bar input[type="text"] {
  min-height: 53px; }

.home .search-bar button i {
  font-size: 23px; }

.home .browse-list {
  display: flex; }
  .home .browse-list li {
    margin-right: 0.6rem; }
    .home .browse-list li span {
      color: #9da2a8; }
    .home .browse-list li a {
      padding: 0.5em 1em; }
      .home .browse-list li a i {
        margin-right: 6px; }
      .home .browse-list li a span {
        color: #FFFFFF; }
      .home .browse-list li a:hover {
        background: #8DC114; }
        .home .browse-list li a:hover * {
          color: #FFFFFF; }
  @media (max-width: 767px) {
    .home .browse-list {
      display: block; }
      .home .browse-list li:not(:first-child) {
        display: inline-flex; }
        .home .browse-list li:not(:first-child) a {
          min-width: 112px;
          padding: 0.5em 0.4em; }
      .home .browse-list li {
        margin-right: 0; } }

.home .card.bg-dark {
  background-color: rgba(0, 0, 0, 0.59) !important; }

.home .card .color-primary {
  color: #8DC114 !important; }

.home .card .imagebg {
  height: 100%; }
  .home .card .imagebg .background-image-holder {
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }

.home .card .text-paragraph{
  height: 60px;
}

@media(max-width: 1090px){
  .home .card .text-paragraph{
    height: 100px;
  }
}

@media(max-width: 768px){
  .home .card .text-paragraph{
    height: auto;
  }
}


.home-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em 0;
  z-index: 1; }
  .home-footer .hr-light {
    border-color: #cdcdcd; }
  .home-footer .list-horizontal.social li a {
    color: #b9b9b9;
    border: 1px solid #b9b9b9; }
  @media (max-width: 767px) {
    .home-footer {
      position: relative;
      background: #000000; } }
