.navbar .navbar-brand .logo {
  max-width: 11em !important; }

.card.featured-2 .badge {
  border-radius: 0;
  font-size: 0.65em;
  padding: 0.6em 0.9em;
  color: #FFFFFF; }

.card.bordered .badge {
  border-radius: 0;
  font-size: 0.65em;
  padding: 0.6em 0.9em;
  color: #FFFFFF; }
