.border-tl-radius {
	border-top-left-radius:5px;
}
.border-bl-radius {
	border-bottom-left-radius:5px;
}
.border-tr-radius {
	border-top-right-radius:5px;
}
.border-br-radius {
	border-bottom-right-radius:5px;
}
.border-radius-5 {
	border-radius:5px;
}

