.btn {
	min-width: 200px;
	font-size: 15px;
	font-weight: 600;
	&:hover {
		font-weight: 600;
	}
	&-primary {
		background: $color-primary;
		border-color: $color-primary;
		&:hover {
			background: $color-hvr-primary;
			border-color: $color-hvr-primary;
			color: $color-primary-1;
		}
	}
	&-primary-1 {
		background: $color-primary-1;
		border-color: $color-primary-1;
		color: $color-white;
		&:hover {
			background: $color-hvr-primary;
			border-color: $color-hvr-primary;
			color: $color-primary-1;
		}
	}
	&-orange {
		background: $color-orange;
		border-color: $color-orange;
		&:hover {
			background: $color-hvr-primary;
			border-color: $color-hvr-primary;
			color: $color-primary-1;
		}
	}
	&-light {
		background: $color-white;
		border: 1px solid #bfc3c9;
		color: $color-gray;
		font-size: 12px;
		&:hover {
			background: #bfc3c9;
		}
	}
	&-red {
		color: $color-error !important;
	}
	&-callout {
		background: $color-white;
		border: 1px solid #bfc3c9;
		color: $color-gray;
		font-size: 14px;
		width: auto;
		&:before {
			content: "";
			width: 0px;
			height: 0px;
			border: 0.8em solid transparent;
			position: absolute;
		}
	}
	&-cta {
		min-width: auto !important;
		font-size: 11px;
	}
	&-open {
		font-size: 11px;
		background-color: $color-lime;
		color: white;
		min-width: -webkit-fill-available;
	}	
	&-gray {
		background: $color-gray;
		border: 1px solid #bfc3c9;
		color: $color-white;
		font-size: 10px;
		padding: 6px 30px;
		&:hover {
			background: #bfc3c9;
		}
	}
}

.callout {
	background: $color-white;
	border: 1px solid #bfc3c9;
	color: $color-gray;
	font-size: 13px;
	width: auto;
	padding: 7px 15px;
	border-radius: .25rem;
	position: relative;
	font-weight: 600;
	&:hover {
		color: $color-dark;
	}
	&-active {
		background: $color-lime;
		color: #dcefb4;
		border-color: $color-lime;
		&:before {
			content: "";
			width: 15px;
			height: 15px;
			background-color: $color-lime;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -10px;
			transform: rotate(45deg);
			margin-top: -10px;
		}
		&:hover {
			color: $color-primary-1;
		}
	}
	
}


.imagebg {
	.dropdown-toggle {
		min-height: 100%;
	    padding: .375rem .75rem;
	    line-height: 1.7;
	    display: flex;
    	align-items: center;
    	justify-content: space-around;


	}
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background: $color-white;
	border: 1px solid #bfc3c9;
	color: $color-gray;
}

