.card {
	border-radius:5px;
	&.home-card-ctas {
		border:0;
		flex: 1 0 auto;
		.card-body {
			padding: 2rem;
		}
		.card-title {
			font-weight: 600;
		}
		p {
			font-size: 12px;
		}
		@include media($xs){
			position: relative;
			height: 100%;
			.background-image-holder{
				height: 300px;
			}
		}
		.card-img-overlay {
			position:relative;
		}
		.imagebg {
			@include media($xs){
				height: 300px !important;
			}
		}
		.border-bl-radius {
			@include media($xs){
				border-bottom-left-radius: 0;
				border-top-right-radius:3px;
			}
		}
		.border-bl-radius {
			@include media($xs){
				border-bottom-left-radius: 0;
				border-top-right-radius:5px;
			}
		}
		.border-tr-radius{
			@include media($xs){
				border-top-right-radius: 0;
			}
		} 
		.border-br-radius{
			@include media($xs){
				border-bottom-left-radius: 5px;
			}
		}
	}
	.meta-posted {
		margin-bottom: 8px;
		small{
			font-size:70%;
		}
		.meta-date {
			color: $color-muted;
		}
		.meta-cat {
			color: $color-primary;
		}
		.meta-muted {
			color: $color-muted;
		}
	}
	&.featured{
		margin-bottom: 10px; 
		.card-body{
			border-top: 1.4px solid #dcdcdc;
		}
		.card-title {
			font-size: 1.04em;
			font-weight:700;
		}
		
	}
	.listing-indicators {
		display: flex;
		margin-bottom: 16px;
		.listing-rate, .listing-like,
		.listing-recommend, .listing-connected {
			display: flex;
			align-items: center;
			margin-right: 1em;
			span{
				margin-left: 5px;
				font-size: 0.95em;
				line-height: 0;
			}
			i {
				color: $color-primary-2;
				font-size: 0.8em;
			}
		}

	}
	.listing-address  {
		display: flex;
		margin-right: 1em;
		span{
			margin-left: 8px;
			font-size: 0.8em;
		}
		i {
			color: $color-primary-2;
			font-size: 0.85em;
			line-height: inherit;	
		}
	}
	&.bordered {
		margin-bottom: 10px;
		.card-body{
			border: 1px solid #d7dee3;
			padding: 25px;
			border-radius: .25rem;
		}
	}

	&.hours {
		border: 1px solid #d7dee3 !important;
		.card-header {
			background: $color-lime;
			color: $color-white;
		}
	}
	&.bordered-1 {
		border: 1px solid #d7dee3 !important;
	}

	&.results-card-horizontal {
		.badge {
			font-size: 10px;
			padding: .48em 1.5em;
		}
	}
	.price {
		color: $color-primary;
		font-size: 0.9em;
	}
	
}
a .card {
	* {
		color: $color-dark;
	}
	&.featured {
		.card-body {
			color: $color-dark;
		}
		.card-title {
			color: $color-dark;
		}
		&:hover {
			box-shadow: 0 0 20px rgb(130 130 130 / 10%);
		}
	}
}

.bg-secondary {
	.card {
		border:0;
	}
}

.home-news {
	.card{
		&.card-post {
			.card-title {
				font-size: 13.5px;
				font-weight:600;
				line-height:1.4;
			}
			.card-body {
				padding: 0.6rem 1.05rem;
			}
		}
	}
}



