.color {
	&-black {
		color: $color-black;
	}
	&-dark {
		color: $color-dark;
	}
	&-primary {
		color: $color-primary;
		&-1 {
			color: $color-primary-1;
		}
	}
	&-orange {
		color: $color-orange;
	}
	&-gray {
		color: $color-gray;
	}
	&-white {
		color: white;
	}
	&-lime {
		color: $color-lime;
	}
	&-yellow {
		color: $color-yellow;
	}
}

.bg {
	&-primary {
		background: $color-primary !important;
		* {
			color: $color-white;
		}
	}
	&-secondary {
		background: $color-bg-secondary !important;
	}
	&-secondary-1 {
		background: $color-bg-secondary-1 !important;
	}
	&-orange {
		background: $color-orange;
	}
	&-dark {
		* {
			color: $color-white !important;
		}
	}
}

a {
	color: $color-primary;
	&:hover {
		color: $color-primary-1;
	}
}