footer {
	.logo {
		max-height: 4em;
		margin-bottom: 3em;
		@include media($xs){
			max-height: 3em;
			margin-bottom: 1em;
		}
	}
	ul {
		list-style: none;
		@include media($xs){
			padding-left: 0 !important;
		}
		li {
			margin-bottom: 0.5em;
			a {
				font-size: 0.9em;
				color: $color-dark;
				&:hover {
					color: $color-primary;
				}
			}
		}
		&.list-horizontal {
			
			&.social {
				li {
					display: flex;
					justify-content: flex-end;
					@include media($xs){
						justify-content: center;
					}
					a {
						display: block;
					    width: 32px;
    					height: 32px;
					    text-align: center;
					    line-height: 29px;
    					font-size: 15px;
					    color: $color-dark-2;
					    -webkit-border-radius: 50%;
					    -moz-border-radius: 50%;
					    border-radius: 50%;
					    margin-right:0.4em;
					    border: 1px solid $color-dark-2;
					    &:hover {
					    	background: $color-primary;
					    	color: $color-white;
					    	border-color: $color-primary;
					    }
					}
				}
			}
		}
	}
	small {
		@include media($xs){
			font-size: 75%
		}
	}
}