input, textarea, select {
	border-radius: 5px;
	font-size: 0.9em;
}
.form-control {
	height: 40px;
	font-size: 0.9em;
	border: 1px solid #bfc3c9;

	&:focus {
	    color: $color-dark;
	    border-color: #bfc3c9;
	    box-shadow: none;
	}

}

.input-field {
	padding: 0px 10px;
	height: 35px; 
}

.no-border-select {
	border: 0px;
	background-color: transparent;
	color: $color-dark;
	font-size: 12px;
	&:focus {
		outline:0;
	}
}


.search-bar {
	.input-group-text {
		background: $color-white;
		color: $color-dark;
		font-size: 0.95em;
		font-weight:600;
		border:0;
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
	}
	input {
		border:0;
		border-radius:3px;
		&::placeholder {
			color: $color-muted;
		}
	}
	button {
		min-width: 100%;
		border-radius:3px;
		@include media($xs){
			border-top-left-radius:0;
			border-bottom-left-radius:0;
		}
	}
}

.form-check {
	  display: block;
	  position: relative;
	  padding-left: 30px;
	  margin-bottom: 10px;
	  cursor: pointer;
	  font-size: 13px;
	  color: $color-gray;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 12px;
		width: 12px;
		left:0;
		z-index: 1;
		// height: 19px;
		// width: 19px;
		// margin-top: 0;
		// margin-left: -1.5rem;
		// background: $color-lime;
		&:checked + label:before{
			opacity: 1 !important;
		}

	}
		
		
	label {
		&:after {
		    position: absolute;
		    content: "";
		    width: 19px;
			height: 19px;
		    left: 1em;
		    top: 0;
		    margin-left: -18px;
		    background-color: #fff;
		    -webkit-border-radius: 3px;
		    border-radius: 3px;
		    background-clip: padding-box;
		    cursor: pointer;
		    border-radius: 50%;
    		border: 1px solid $color-gray;
		}
		&:before{
			position: absolute;
		    content: "";			    
		    margin-left: -18px;
		    border-top: none;
		    border-right: none;
		    background: 0 0;
		    transform: rotate(-45deg);
		    opacity: 0;
		    transition: all .15s ease-in-out;
		    z-index: 1;
		    width: 13px;
			height: 13px;
		    border: none;
		    top: 3px;
			left: 16px;
		    -webkit-border-radius: 50%;
		    border-radius: 50%;
		    background-clip: padding-box;
		    background-color: $color-lime;
		    transform: rotate(0deg);
		}
	}
}
.filter {
	&-collapse {
		border:0;
		&:focus {
			outline:0;
		}
		&[aria-expanded="true"]{
			&:before {
				content: "";
				    width: 15px;
				    height: 15px;
				    background-color: $color-white;
				    position: absolute;
				   	top: 110%;
				    left: 50%;
				    margin-left: -10px;
				    transform: rotate(45deg);
				    margin-top: -10px;
			}
		}
	}
}
#filter-search {
	margin-top: 0.4em;
}
		