.imagebg{
	position: relative;
	color: $color-white;
	.container{
		&:not(.pos-absolute){
			position: relative;
		}
		z-index: 2;
	}
	&.image-dark{
		* {
			color: $color-white;
		}
	}
	&.image-light{
		* {
			color: $color-black;
		}
		.btn {
			color: $color-white;
			&:hover {
				color: $color-primary-1;
			}
		}
	}
	.cta-banner-footer {
		padding: 4em 8em;
		height: 100%;
		@include media($xs){
			padding: 4em 1em;
		}
		.title {
			font-size: 2.5em;
		}
		.cta-stats {
			display: flex;
			align-items: center;
			p {
				line-height: 1;
			}
			img {
				height: 30px;
				margin-right: 1em;
			}
			small {
				font-size: 0.7em;
			}
		}
		&-2 {
			padding: 4em 5em;
			@include media($xs){
				padding: 4em 1em;
			}
			height: 100%;
			.title {
				font-size: 2.5em;
			}
		}
	}

}
.background-image-holder{
	position: absolute;
	&:not([class*='col-']){
		width: 100%;
	}
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover !important;
	background-position: 50% 50% !important;
	z-index: 0;
	transition: opacity .3s linear;
	-webkit-transition: opacity .3s linear;
	opacity: 1;
	background: $color-dark;
	&.background--bottom{
		background-position: 50% 100% !important;
	}
	&.background--top{
		background-position: 50% 0% !important;
	}
}

.image {
	&-inherit {
	width: inherit;
	}
	&-round {
	width:70px;
	  height:70px;
	  object-fit:cover;
	  border-radius:50%;
	  border: 1px solid #bfc3c9;
	}
}


