.nav-container {
	position: sticky;
    height: 100%;
    top: 0;
    z-index: 99;
}
nav {
	&.navbar {
		position: sticky;
	    height: 100%;
	    top: 0;
	    z-index: 99;
		.logo {
			max-width: 7em;
			
		}
		.nav-item {
			a {
				font-weight: 400;
				color: #575a5e;
			}
		}    

	}
}

#top-menu, #top-menu-inner {
	background: #e6e9ec !important;
	a,span {
		font-size: 0.7em;
		font-weight: 700;
		color: $color-dark;
	}
	ul .nav-item {
		label {
			position: relative;
		    display: inline-block;
		    line-height: 2.125rem;
		    height: 2.125rem;
		    min-width: 3.125rem;
		    padding: 0 0.825rem;
		    text-align: center;
		    margin-bottom: 0;
		    font-size: 0.7em;
		    font-weight: 700;
		}
		a {
			position: relative;
		    display: inline-block;
		    line-height: 2.125rem;
		    height: 2.125rem;
		    min-width: 3.125rem;
		    padding: 0 0.825rem;
		    text-align: center;
		    @include media($xs){
		    	min-width: 100%;
		    	padding: 0 0.5rem;
		    }
		}
		.item {
			font-size: 1em;
			@include media($xs){
				display: none;
			}
		}
		&:hover {
			a {background: $color-white;}
			
		}
		i {
			color: $color-dark;
			margin-right: 0.5em;
			font-size: 1.1em;
			@include media($xs){
				margin-right: 0;
			}
		}
		&.active {
			a {
				background: $color-white;
				i {
					color: $color-primary;
				}
			}
		}

	}
	&.navbar {
		padding:0;
		z-index: 100;
	}
	.navbar-nav {
		flex-direction: row;
	}
}

#top-menu {
	&-inner {
		
		.navbar-nav {
			.nav-item a {
				text-align: left;
				
			}
			.dropdown-menu {
				position:absolute;
				z-index: 99;
				border:0;
				.dropdown-item {
					display: flex;
					
					font-weight: 400;
					font-size: 0.8em;
					align-items: center;
					
					height: 1.8rem;
					&:hover {
						background: rgba(141, 193, 24, 0.12);;
					}
				}
				
			}
		}
	}
}

#main-menu {
	&.sticky-top {
		background: #fff;
	}

	&.navbar {
		.logo {
			max-width: 7em;
			
		}
		.nav-item {
			a {
				font-size: 0.97em;
				font-weight: 400;
				padding-right:0.9rem;
				padding-left:0.9rem;
				margin-right: 0.7em;
				@include media($xs){
					padding: 1em 0 1em;
					border-bottom: 1px solid $color-muted;
				}
				&:hover {
					background: rgba(141, 193, 24, 0.12);
				}
			}
			.btn {
				color: $color-white;
				min-width: 100%;
				&:hover {
					border-color: $color-primary-1;
					background: $color-primary-1;
				}
			}
			
		}
		.flex-1{
			flex:1;
		}
	}
	.navbar-collapse{
		@include media($xs){
			.nav-mobile-btn {
				padding: 1em;
    			margin-bottom: 1rem;
				color: $color-white !important;
				&.bg-primary{
					background: $color-primary !important;
					&:hover {
						background: $color-primary-1 !important;
					}
				}
				&.bg-primary-1{
					background: $color-primary-1 !important;
				}
				
			}
			.navbar-nav {
				padding:0 2em;
				margin-bottom: 2rem;
			}
			.dropdown-menu {
				.dropdown-item {
					border:0;
					padding: 0.3em 0;
				}
				border:0;
			}
		}
		.dropdown-menu{
			border:0;
			.dropdown-item{
				font-size: 0.8em;
			}
		}
	}
	.search-bar {
		margin-bottom: 0 !important;
		.input-group-text {
			background: $color-white;
			color: $color-dark;
			font-size: 0.95em;
			font-weight:600;
			border:1px solid $color-muted;
			border-top-left-radius:3px;
			border-bottom-left-radius:3px;
			
		}
		.form-control {
			border: 1px solid $color-muted;
			border-left: 0;
		}

		@include media($xs){
			padding-left: 2em;
				padding-right: 2em;
		}
		.input-group input{
			@include media($xs){
				
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				
			}
		}
				
	}

	
}

