.owl-carousel {
	&.category-carousel {
		.icon {
			fill: $color-dark;
			width: 50px;
  			height: 50px;
		}
		p {
			color: $color-dark;
		}
		a:hover {
			p {
				color: $color-primary;
			}
		}
	}
}