section, footer {
	padding-top:3em;
	padding-bottom:3em;
}

.height{
	&-30 {
		height: 30vh;
	}
	&-40 {
		height: 40vh;
	}
	&-50 {
		height: 50vh;
	}
}

div[class*='col-'] {
	padding-left:10px;
	padding-right:10px;
	@include media($xs){
		padding-left:15px;
		padding-right:15px;
	}
}

.pos-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.next-line {
  display: block;
  clear: both; 
  @include media($xs){
  	display: initial;
  	clear: none;
  }

}

.pl-lg-10 {
	padding-left:10px;
}
.pr-lg-10 {
	padding-right:10px;
}

.p0{
	padding: 0px !important;
}

.p20{
	padding: 20px !important;
}

.plr-40 {
	padding: 20px 40px;
}

.p40{
	padding: 40px !important;
}
@include media($xs){
	.pl-xs-0 {
		padding-left:0 !important;
	}
	.pr-xs-0 {
		padding-right:0 !important;
	}
}