body {
	font-family: $body-font, 'Helvetica', 'Arial', sans-serif;
	color: $color-dark;
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-family: $heading-font, 'Helvetica', 'Arial', sans-serif;
	color: $color-heading;
	font-weight: $heading-weight;
	margin-top: 0;
	margin-bottom: 0;
}

.h6-size {
	font-size: $h6-size;
}

.font-small {
	font-size: 12px;
}

p {
	font-size:13px;
	color: $color-gray;
}

.nav-link {
	color: $color-gray;
}
ul.bullets{
	list-style: outside;
}

ul.arrow {
	
	line-height: 1.5em;
	margin: 5px 0 15px;
	padding: 0;
	li {
		font-size: 13px;
		list-style: none;
		position: relative;
		padding: 0 0 0 15px;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 8px;
			height: 6px;
			width: 6px;
			border: 1px solid $color-dark;
			border-width: 1px 1px 0 0;
			transform: rotate(45deg);
		}
	}
}
ol{
	list-style-type: upper-roman;
	list-style-position: inside;
}

a:hover,a:focus,a:active{
	text-decoration: none;
	outline: none;
	color: $color-primary-1;
}


.breadcrumb {
	background: transparent;
	padding: 0.75rem 0rem;
	color: $color-gray;
	font-size: 12px;
	&-item.active {
		color: $color-gray;
	}
}

/*! Typography -- Helpers */

.type-fade{
	opacity: .5;
}

.type-normal {
	font-weight: 400;
}

.type-uppercase{ 
	text-transform: uppercase; 
}
.type-bold{
	font-weight: $strong-font-weight;
}
.type-medium{
	font-weight: 700;
}
.type-italic{
	font-style: italic;
}

.type-strikethrough{
	text-decoration: line-through;
	opacity: .5;
}

.type-underline{
	text-decoration: underline;
}

