:root
{
    --light-green: #93d70c;
    --green: #73ac00;
    --light: #f8f9fc;
}

body{
    font-size: 1.05rem;
}

input, textarea, select option{
    font-size: 1rem !important;
    font-weight: 600;
}

button, i{
    font-size: 1rem;
}

form.user select.form-control.form-control-user {
    padding: 0rem 1rem !important;
    height: 50px;
}

/* LOGIN PAGE */
.bg-gradient-success {
    background-color: var(--light-green);
    background-image: linear-gradient(
180deg
, var(--light-green) 10%, var(--green) 100%);
    background-size: cover;
}

.btn-user{
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-user:hover{
    background-color: var(--green);
    border-color: var(--green);
}

.forgot-pwd{
    color: var(--light-green);
}

.forgot-pwd:hover{
    color: var(--green);
}

/* SIDEBAR */
.sidebar{
    top: 0 !important;
    position: fixed;
	height: 100vh !important;
	overflow-y: scroll !important;
    overflow-x: hidden !important;
    width: 250px !important;
    background-color: #73ac00;
    z-index: 99 !important;
}

.sidebar .nav-item i, .sidebar .nav-item span, .sidebar .collapse-item{
    font-size: 1.05rem !important;
}

.cn-admin-logo{
    width: 100%;
}

.logoXtoggle{
    display: flex;
    align-items: center;
}

.logoXtoggle .logoCol{
    width: 190px ;
    float: left;
}

.logoXtoggle .toggleCol{
    width: 50px;
    height: auto;
    float: left;
}

.sidebar-heading{
    font-size: .85rem !important;
}

@media(max-width:767px)
{
    .sidebar
    {
        width: 110px !important;
    }
}

.sidebar::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

.sidebar::-webkit-scrollbar-track
{
    width: 5px !important;
	background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--light);
    border: 2px solid #73ac00 !important;
}

/* NAVBAR + MAIN CONTENT */
#content
{
    width: 100vw !important;
    padding-left: 250px;
}

.navbar
{
    position: fixed !important;
    width: calc(100% - 250px);
    z-index: 100 !important;
}

.nav-item span, .nav-item i{
    font-size: 1rem !important;
}

.topbar-btn{
    background-color: #93d70c;
    color: var(--light);
}

@media(max-width:767px)
{
    #content
    {
        padding-left: 110px !important;
    }
    .navbar
    {
        width: calc(100% - 110px) !important;
    }
}

@media(max-width:494px)
{
    #content
    {
        padding-left: 0 !important;
    }
    .navbar
    {
        width: 100% !important;
    }
}

#content .container-fluid
{
    padding: 80px 20px;
}

.modal-confirm {
	color: #242424;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #2c2c2c;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #999999;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #646464;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger a {
	display: block;
    color: #fff;
    text-decoration: none;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}

.select2-selection{
    border: 1px solid #0000002d !important;
    border-radius: 50px !important;
    height: auto !important;
    padding: 10px;
}

.select2-selection.select2-selection--multiple {
    border-radius: 0 !important;
}

.select2-selection__rendered{
    color: #00000081 !important ;
}

.select2-selection__arrow{
    margin: 10px !important;
}

.select2-dropdown{
    border-top: 2px solid #0000003f !important;
}