:root
{
    --light-green: #93d70c;
    --green: #73ac00;
    --light: #f8f9fc;
}

body{
    font-size: 1.05rem;
}

input, textarea, select option{
    font-size: 1rem !important;
    font-weight: 600;
}

button, i{
    font-size: 1rem;
}

form.user select.form-control.form-control-user {
    padding: 0rem 1rem !important;
    height: 50px;
}

/* AUTH PAGE */
.btn-user{
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-user:hover{
    background-color: var(--green);
    border-color: var(--green);
}

.forgot-pwd{
    color: var(--light-green);
}

.forgot-pwd:hover{
    color: var(--green);
}

/* SIDEBAR */
.sidebar{
    top: 0 !important;
    position: fixed;
	height: 100vh !important;
	overflow-y: scroll !important;
    overflow-x: hidden !important;
    width: 250px !important;
    background-color: #73ac00;
    z-index: 99 !important;
}

.sidebar .nav-item i, .sidebar .nav-item span, .sidebar .collapse-item{
    font-size: 1.05rem !important;
}

.cn-admin-logo{
    width: 100%;
}

.logoXtoggle{
    display: flex;
    align-items: center;
}

.logoXtoggle .logoCol{
    width: 190px ;
    float: left;
}

.logoXtoggle .toggleCol{
    width: 50px;
    height: auto;
    float: left;
}

.sidebar-heading{
    font-size: .85rem !important;
}

@media(max-width:767px)
{
    .sidebar
    {
        width: 110px !important;
    }
}

.sidebar::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

.sidebar::-webkit-scrollbar-track
{
    width: 5px !important;
	background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--light);
    border: 2px solid #73ac00 !important;
}

.sidebar .third-layer-menu a{
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
}

.sidebar .third-layer-menu a:hover{
    color: #3f5e00;
    background-color: #00000019;
}

.sidebar i.chevron-icon{
    color: #00000059 !important;
    font-weight: bold;
    line-height: 25px;
}

/* NAVBAR + MAIN CONTENT */
#content
{
    width: 100vw !important;
    padding-left: 250px;
}

.navbar
{
    position: fixed !important;
    width: calc(100% - 250px);
    z-index: 100 !important;
}

.nav-item span, .nav-item i{
    font-size: 1rem !important;
}

.topbar-btn{
    background-color: #93d70c;
    color: var(--light);
}

@media(max-width:767px)
{
    #content
    {
        padding-left: 110px !important;
    }
    .navbar
    {
        width: calc(100% - 110px) !important;
    }
}

@media(max-width:494px)
{
    #content
    {
        padding-left: 0 !important;
    }
    .navbar
    {
        width: 100% !important;
    }
}

#content .container-fluid
{
    padding: 80px 20px;
}

.select2-selection{
    border: 1px solid #0000002d !important;
    border-radius: 50px !important;
    height: auto !important;
    padding: 10px;
}

.select2-selection.select2-selection--multiple {
    border-radius: 0 !important;
}

.select2-selection__rendered{
    color: #00000081 !important ;
}

.select2-selection__arrow{
    margin: 10px !important;
}

.select2-dropdown{
    border-top: 2px solid #0000003f !important;
}
